//////////////////////////////////
//        Global Styles:        //
//////////////////////////////////
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100vw;
  .noScroll {
    // Prevent scrolling when sidebar is showing
    overflow: hidden;
  }
}

#app {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-template-areas:  'sidebar  header'
                        'sidebar  content';
  // Set div to full screen:
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //////////////////////////

}

//////////////////////////////////
//       Sidebar Styles:        //
//////////////////////////////////
$sidebarFillColor: #250d0d;
$sidebarFontColor: #7d4444;
$sidebarLandscapeWidth: 40vw;
$sidebarPortraitWidth: 80vw;

.sidebar {
  height: 100%;
  width: $sidebarLandscapeWidth;
  background-color: $sidebarFillColor;
  grid-area: sidebar;
  @media (orientation: portrait), (max-width: 1200px) {
    width: 0.5rem;
    cursor: pointer;
  }

  @media (hover: none) {
    // Prevent blue focus on touch devices when tapping 'sidebar-content':
    cursor: auto;
  }

  .sidebar-trigger {
    z-index: 10;
    position: fixed;
    top: 0;
    height: 4.1rem;
    padding: 0.5rem 1rem 0.8rem 1rem;
    margin: 0;
    color: $sidebarFontColor;
    background-color: $sidebarFillColor;
    font-size: 2.5rem;
    
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    // @media screen and (-webkit-min-device-pixel-ratio: 0) {
    //   // Chrome Specific:
    //   border-bottom: 2px solid $sidebarFontColor;
    // }

    &:hover {
      color: #f1f1f1;
    }
    @media (hover: none) {
      // Prevent color change on touch devices:
      &:hover {
        color: $sidebarFontColor;
      }
    }
  }

  @media (orientation: portrait), (max-width: 1200px) {
    .sidebar-background {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      visibility: hidden;
      &.active {
        visibility: visible;
      }
    }
  }

  .sidebar-content {
    height: 100vh;
    width: inherit;
    z-index: 5;
    background-color: $sidebarFillColor;
    overflow: hidden;
    
    position: fixed;
    top: 0;
    cursor: auto;
  
    @media (orientation: portrait), (max-width: 1200px) {
      width: $sidebarPortraitWidth;
      left: -90vw;
      &.active {
        left: 0;
      }
      transition: left 0.5s;
    }
  
    .sidebar-name {
      height: 2.9rem;
      padding: 0.5rem 5rem 0.7rem 4.5rem;
      margin: 0;
      color: $sidebarFontColor;
      font-size: 2.5rem;
      text-align: center;

    }

    .line {
      padding: 0;
      margin: 0;
      border-color: $sidebarFontColor;
      @-moz-document url-prefix() {
        // Firefox Specific:
        border-style: solid;
      }

    }

    .padding {
      padding: 8rem 1rem 1rem 1rem;

      button {
        padding: 0.5rem;
        font-size: 1.2rem;
        background-color: $sidebarFillColor;
        color: $sidebarFontColor;
        display: block;
        border: none;
        cursor: pointer;
    
        &:hover {
          color: #f1f1f1;
        }
        @media (hover: none) {
          // Prevent color change on touch devices:
          &:hover {
            color: $sidebarFontColor;
          }
        }
      }
    
    }
  }
}



///////////////////////////////////
//        Header Styles:         //
///////////////////////////////////
#header {
  grid-area: header;
  position: sticky;
  top: 0;
  
  background-color: rgb(150, 221, 108);
  border-bottom: 1px solid rgb(24, 170, 24);
  height: 4.1rem;
  padding: 0rem 1rem 0rem 4.5rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: yellow;

}

//////////////////////////////////
//        Content Styles:       //
//////////////////////////////////
#content {
  grid-area: content;
  padding: 1rem;
  background-color: #f3e5be;

  @media (orientation: landscape), (min-width: 1200px) {
    // position: relative;
    
  }
}
